# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [41]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [42]:
# Note: only 8 elements in provided header names, so need to slice out the first index element from original dataset
col_names = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
# Import from csv. No headers.
df = pd.read_csv('./Datasets/census.data', sep=',', header=None)
# Take the actual data slice. The pandas df will handle the index, so slice it out of the imported data frame
df = df.iloc[:, 1:]
# Set proper column names
df.columns = col_names
# Double check everything worked by looking at the dataset
df.head(10)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K

In [43]:
df.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [44]:
# Make capital-gain numeric. Accept NaN coercions
df.loc[:, 'capital-gain'] = pd.to_numeric(df.loc[:, 'capital-gain'], errors='coerce')

In [45]:
# Same with capital-loss
df.loc[:, 'capital-loss'] = pd.to_numeric(df.loc[:, 'capital-loss'], errors='coerce')
df.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [46]:
# Replace value of 99999 with None/NaN
selector = df.loc[:, 'capital-gain'] == 99999
df.loc[selector, 'capital-gain'] = None
df['capital-gain'].unique()

array([  2174.,     nan,      0.,  14084.,   5178.,   5013.,   2407.,
        14344.,  15024.,   7688.,  34095.,   4064.,   4386.,   7298.,
         1409.,   3674.,   1055.,   3464.,   2050.,   2176.,    594.,
         6849.,   4101.,   1111.,   3411.,   2597.,  25236.,   4650.,
         9386.,   2463.,   3103.,  10605.,   2964.,   3325.,   2580.,
         3471.,   4865.,   6514.,   1471.,   2329.,  20051.,   2105.,
         2885.,  25124.,  10520.,   2202.,   2961.,  27828.,   6767.,
         8614.,   2228.,   1506.,  13550.,   2635.,   5556.,   4787.,
         3781.,   3137.,   3818.,   3942.,    914.,    401.,   2829.,
         2977.,   4934.,   2062.,  15020.,   1424.,   3273.,  22040.,
         4416.,  10566.,    991.,   4931.,   1086.,   7430.,   6497.,
          114.,   7896.,   2346.,   3432.,   2907.,   1151.,   2414.,
         2290.,   3418.,  15831.,  41310.,   4508.,   5455.,   2538.,
         3456.,   3908.,   1848.,   3887.,   5721.,   9562.,   6418.,
         1455.,   2036.,   1831.,  11678.,   2936.,   2993.,   7443.,
         6360.,   2354.,   1797.,   1173.,   4687.,   2009.,   6097.,
         2653.,  18481.,   7978.,   2387.,   6723.,   5060.])

In [47]:
# Example of unique() based queries. Found no other anomalies
df['classification'].unique()

array(['<=50K', '>50K'], dtype=object)

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [48]:
# UNCOMMENT TO RUN THROUGH AGAIN
# ordered_education = ['Preschool', '1st-4th', '5th-6th', '7th-8th', 
#                      '9th', '10th', '11th', '12th', 'HS-grad', 
#                      'Some-college', 'Bachelors', 'Masters', 'Doctorate']
# df.education = df.education.astype("category",
#   ordered=True,
#   categories=ordered_education).cat.codes
# 
# ordered_classification = ['<=50K', '>50K']
# df.classification = df.classification.astype("category",
#    ordered=True,
#    categories=ordered_classification).cat.codes

In [50]:
df = pd.get_dummies(df,columns=['race'])

In [51]:
df

,education,age,capital-gain,capital-loss,hours-per-week,sex,classification,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,10,39,2174.0,0,40,Male,0,0,0,0,0,1
1,10,50,NaN,0,13,Male,0,0,0,0,0,1
2,8,38,NaN,0,40,Male,0,0,0,0,0,1
3,6,53,NaN,0,40,Male,0,0,0,1,0,0
4,10,28,0.0,0,40,Female,0,0,0,1,0,0
5,11,37,0.0,0,40,Female,0,0,0,0,0,1
6,4,49,0.0,0,16,Female,0,0,0,1,0,0
7,8,52,0.0,0,45,Male,1,0,0,0,0,1
8,11,31,14084.0,0,50,Female,1,0,0,0,0,1
9,10,42,5178.0,0,40,Male,1,0,0,0,0,1
10,9,37,0.0,0,80,Male,1,0,0,1,0,0
11,10,30,0.0,0,40,Male,1,0,1,0,0,0
12,10,23,0.0,0,30,Female,0,0,0,0,0,1
13,3,34,0.0,0,45,Male,0,1,0,0,0,0
14,8,25,0.0,0,35,Male,0,0,0,0,0,1
15,8,32,0.0,0,40,Male,0,0,0,0,0,1
16,6,38,0.0,0,50,Male,0,0,0,0,0,1
17,11,43,0.0,0,45,Female,1,0,0,0,0,1
18,12,40,0.0,0,60,Male,1,0,0,0,0,1
19,8,54,0.0,0,20,Female,0,0,0,1,0,0
20,4,35,0.0,0,40,Male,0,0,0,1,0,0
21,6,43,0.0,2042,40,Male,0,0,0,0,0,1
22,8,59,0.0,0,40,Female,0,0,0,0,0,1
23,10,56,0.0,0,40,Male,1,0,0,0,0,1
24,8,19,0.0,0,40,Male,0,0,0,0,0,1
25,9,54,0.0,0,60,Male,1,0,1,0,0,0
26,8,39,0.0,0,80,Male,0,0,0,0,0,1
27,8,49,0.0,0,40,Male,0,0,0,0,0,1
28,9,20,0.0,0,44,Male,0,0,0,1,0,0
29,10,45,0.0,1408,40,Male,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
29506,8,30,0.0,0,55,Male,0,0,0,0,0,1
29507,5,32,0.0,0,40,Male,0,0,0,0,0,1
29508,9,22,0.0,0,40,Male,0,0,0,0,0,1
29509,8,31,0.0,0,40,Female,0,0,0,0,0,1
29510,8,29,0.0,0,35,Female,0,0,0,0,0,1
29511,10,35,0.0,0,55,Female,1,0,0,0,0,1
29512,10,30,0.0,0,99,Female,0,0,1,0,0,0
29513,12,34,0.0,0,60,Male,1,0,0,0,0,1
29514,10,54,0.0,0,50,Male,1,0,1,0,0,0
29515,9,37,0.0,0,39,Female,0,0,0,0,0,1
29516,7,22,0.0,0,35,Male,0,0,0,1,0,0
29517,10,34,0.0,0,55,Female,1,0,0,0,0,1
29518,8,30,0.0,0,46,Male,0,0,0,1,0,0
29519,10,38,15020.0,0,45,Female,1,0,0,1,0,0
29520,12,71,0.0,0,10,Male,1,0,0,0,0,1
29521,8,45,0.0,0,40,Female,0,0,0,0,0,1
29522,8,41,0.0,0,32,Female,0,0,0,1,0,0
29523,8,72,0.0,0,25,Male,0,0,0,0,0,1
29524,11,31,0.0,0,30,Female,0,0,0,0,1,0
29525,8,43,0.0,0,40,Male,0,0,0,0,0,1
29526,9,43,0.0,0,40,Female,0,0,0,0,0,1
29527,9,43,0.0,0,50,Male,0,0,0,0,0,1
29528,5,32,0.0,0,40,Male,0,1,0,0,0,0
29529,11,32,0.0,0,11,Male,0,0,1,0,0,0
29530,11,53,0.0,0,40,Male,1,0,0,0,0,1
29531,9,22,0.0,0,40,Male,0,0,0,0,0,1
29532,8,40,0.0,0,40,Male,1,0,0,0,0,1
29533,8,58,0.0,0,40,Female,0,0,0,0,0,1
29534,8,22,0.0,0,20,Male,0,0,0,0,0,1
29535,8,52,15024.0,0,40,Female,1,0,0,0,0,1

In [52]:
df = pd.get_dummies(df,columns=['sex'])
df

,education,age,capital-gain,capital-loss,hours-per-week,classification,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,10,39,2174.0,0,40,0,0,0,0,0,1,0,1
1,10,50,NaN,0,13,0,0,0,0,0,1,0,1
2,8,38,NaN,0,40,0,0,0,0,0,1,0,1
3,6,53,NaN,0,40,0,0,0,1,0,0,0,1
4,10,28,0.0,0,40,0,0,0,1,0,0,1,0
5,11,37,0.0,0,40,0,0,0,0,0,1,1,0
6,4,49,0.0,0,16,0,0,0,1,0,0,1,0
7,8,52,0.0,0,45,1,0,0,0,0,1,0,1
8,11,31,14084.0,0,50,1,0,0,0,0,1,1,0
9,10,42,5178.0,0,40,1,0,0,0,0,1,0,1
10,9,37,0.0,0,80,1,0,0,1,0,0,0,1
11,10,30,0.0,0,40,1,0,1,0,0,0,0,1
12,10,23,0.0,0,30,0,0,0,0,0,1,1,0
13,3,34,0.0,0,45,0,1,0,0,0,0,0,1
14,8,25,0.0,0,35,0,0,0,0,0,1,0,1
15,8,32,0.0,0,40,0,0,0,0,0,1,0,1
16,6,38,0.0,0,50,0,0,0,0,0,1,0,1
17,11,43,0.0,0,45,1,0,0,0,0,1,1,0
18,12,40,0.0,0,60,1,0,0,0,0,1,0,1
19,8,54,0.0,0,20,0,0,0,1,0,0,1,0
20,4,35,0.0,0,40,0,0,0,1,0,0,0,1
21,6,43,0.0,2042,40,0,0,0,0,0,1,0,1
22,8,59,0.0,0,40,0,0,0,0,0,1,1,0
23,10,56,0.0,0,40,1,0,0,0,0,1,0,1
24,8,19,0.0,0,40,0,0,0,0,0,1,0,1
25,9,54,0.0,0,60,1,0,1,0,0,0,0,1
26,8,39,0.0,0,80,0,0,0,0,0,1,0,1
27,8,49,0.0,0,40,0,0,0,0,0,1,0,1
28,9,20,0.0,0,44,0,0,0,1,0,0,0,1
29,10,45,0.0,1408,40,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29506,8,30,0.0,0,55,0,0,0,0,0,1,0,1
29507,5,32,0.0,0,40,0,0,0,0,0,1,0,1
29508,9,22,0.0,0,40,0,0,0,0,0,1,0,1
29509,8,31,0.0,0,40,0,0,0,0,0,1,1,0
29510,8,29,0.0,0,35,0,0,0,0,0,1,1,0
29511,10,35,0.0,0,55,1,0,0,0,0,1,1,0
29512,10,30,0.0,0,99,0,0,1,0,0,0,1,0
29513,12,34,0.0,0,60,1,0,0,0,0,1,0,1
29514,10,54,0.0,0,50,1,0,1,0,0,0,0,1
29515,9,37,0.0,0,39,0,0,0,0,0,1,1,0
29516,7,22,0.0,0,35,0,0,0,1,0,0,0,1
29517,10,34,0.0,0,55,1,0,0,0,0,1,1,0
29518,8,30,0.0,0,46,0,0,0,1,0,0,0,1
29519,10,38,15020.0,0,45,1,0,0,1,0,0,1,0
29520,12,71,0.0,0,10,1,0,0,0,0,1,0,1
29521,8,45,0.0,0,40,0,0,0,0,0,1,1,0
29522,8,41,0.0,0,32,0,0,0,1,0,0,1,0
29523,8,72,0.0,0,25,0,0,0,0,0,1,0,1
29524,11,31,0.0,0,30,0,0,0,0,1,0,1,0
29525,8,43,0.0,0,40,0,0,0,0,0,1,0,1
29526,9,43,0.0,0,40,0,0,0,0,0,1,1,0
29527,9,43,0.0,0,50,0,0,0,0,0,1,0,1
29528,5,32,0.0,0,40,0,1,0,0,0,0,0,1
29529,11,32,0.0,0,11,0,0,1,0,0,0,0,1
29530,11,53,0.0,0,40,1,0,0,0,0,1,0,1
29531,9,22,0.0,0,40,0,0,0,0,0,1,0,1
29532,8,40,0.0,0,40,1,0,0,0,0,1,0,1
29533,8,58,0.0,0,40,0,0,0,0,0,1,1,0
29534,8,22,0.0,0,20,0,0,0,0,0,1,0,1
29535,8,52,15024.0,0,40,1,0,0,0,0,1,1,0

Lastly, print out your dataframe!

In [53]:
print(df)

       education  age  capital-gain  capital-loss  hours-per-week  \
0             10   39        2174.0             0              40
1             10   50           NaN             0              13
2              8   38           NaN             0              40
3              6   53           NaN             0              40
4             10   28           0.0             0              40
5             11   37           0.0             0              40
6              4   49           0.0             0              16
7              8   52           0.0             0              45
8             11   31       14084.0             0              50
9             10   42        5178.0             0              40
10             9   37           0.0             0              80
11            10   30           0.0             0              40
12            10   23           0.0             0              30
13             3   34           0.0             0              45
14             8   25           0.0             0              35
15             8   32           0.0             0              40
16             6   38           0.0             0              50
17            11   43           0.0             0              45
18            12   40           0.0             0              60
19             8   54           0.0             0              20
20             4   35           0.0             0              40
21             6   43           0.0          2042              40
22             8   59           0.0             0              40
23            10   56           0.0             0              40
24             8   19           0.0             0              40
25             9   54           0.0             0              60
26             8   39           0.0             0              80
27             8   49           0.0             0              40
28             9   20           0.0             0              44
29            10   45           0.0          1408              40
...          ...  ...           ...           ...             ...
29506          8   30           0.0             0              55
29507          5   32           0.0             0              40
29508          9   22           0.0             0              40
29509          8   31           0.0             0              40
29510          8   29           0.0             0              35
29511         10   35           0.0             0              55
29512         10   30           0.0             0              99
29513         12   34           0.0             0              60
29514         10   54           0.0             0              50
29515          9   37           0.0             0              39
29516          7   22           0.0             0              35
29517         10   34           0.0             0              55
29518          8   30           0.0             0              46
29519         10   38       15020.0             0              45
29520         12   71           0.0             0              10
29521          8   45           0.0             0              40
29522          8   41           0.0             0              32
29523          8   72           0.0             0              25
29524         11   31           0.0             0              30
29525          8   43           0.0             0              40
29526          9   43           0.0             0              40
29527          9   43           0.0             0              50
29528          5   32           0.0             0              40
29529         11   32           0.0             0              11
29530         11   53           0.0             0              40
29531          9   22           0.0             0              40
29532          8   40           0.0             0              40
29533          8   58           0.0             0              40
29534          8   22           0.0             0              20
29535          8   52       15024.0             0              40

       classification  race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  \
0                   0                        0                        0
1                   0                        0                        0
2                   0                        0                        0
3                   0                        0                        0
4                   0                        0                        0
5                   0                        0                        0
6                   0                        0                        0
7                   1                        0                        0
8                   1                        0                        0
9                   1                        0                        0
10                  1                        0                        0
11                  1                        0                        1
12                  0                        0                        0
13                  0                        1                        0
14                  0                        0                        0
15                  0                        0                        0
16                  0                        0                        0
17                  1                        0                        0
18                  1                        0                        0
19                  0                        0                        0
20                  0                        0                        0
21                  0                        0                        0
22                  0                        0                        0
23                  1                        0                        0
24                  0                        0                        0
25                  1                        0                        1
26                  0                        0                        0
27                  0                        0                        0
28                  0                        0                        0
29                  0                        0                        0
...               ...                      ...                      ...
29506               0                        0                        0
29507               0                        0                        0
29508               0                        0                        0
29509               0                        0                        0
29510               0                        0                        0
29511               1                        0                        0
29512               0                        0                        1
29513               1                        0                        0
29514               1                        0                        1
29515               0                        0                        0
29516               0                        0                        0
29517               1                        0                        0
29518               0                        0                        0
29519               1                        0                        0
29520               1                        0                        0
29521               0                        0                        0
29522               0                        0                        0
29523               0                        0                        0
29524               0                        0                        0
29525               0                        0                        0
29526               0                        0                        0
29527               0                        0                        0
29528               0                        1                        0
29529               0                        0                        1
29530               1                        0                        0
29531               0                        0                        0
29532               1                        0                        0
29533               0                        0                        0
29534               0                        0                        0
29535               1                        0                        0

       race_Black  race_Other  race_White  sex_Female  sex_Male
0               0           0           1           0         1
1               0           0           1           0         1
2               0           0           1           0         1
3               1           0           0           0         1
4               1           0           0           1         0
5               0           0           1           1         0
6               1           0           0           1         0
7               0           0           1           0         1
8               0           0           1           1         0
9               0           0           1           0         1
10              1           0           0           0         1
11              0           0           0           0         1
12              0           0           1           1         0
13              0           0           0           0         1
14              0           0           1           0         1
15              0           0           1           0         1
16              0           0           1           0         1
17              0           0           1           1         0
18              0           0           1           0         1
19              1           0           0           1         0
20              1           0           0           0         1
21              0           0           1           0         1
22              0           0           1           1         0
23              0           0           1           0         1
24              0           0           1           0         1
25              0           0           0           0         1
26              0           0           1           0         1
27              0           0           1           0         1
28              1           0           0           0         1
29              0           0           1           0         1
...           ...         ...         ...         ...       ...
29506           0           0           1           0         1
29507           0           0           1           0         1
29508           0           0           1           0         1
29509           0           0           1           1         0
29510           0           0           1           1         0
29511           0           0           1           1         0
29512           0           0           0           1         0
29513           0           0           1           0         1
29514           0           0           0           0         1
29515           0           0           1           1         0
29516           1           0           0           0         1
29517           0           0           1           1         0
29518           1           0           0           0         1
29519           1           0           0           1         0
29520           0           0           1           0         1
29521           0           0           1           1         0
29522           1           0           0           1         0
29523           0           0           1           0         1
29524           0           1           0           1         0
29525           0           0           1           0         1
29526           0           0           1           1         0
29527           0           0           1           0         1
29528           0           0           0           0         1
29529           0           0           0           0         1
29530           0           0           1           0         1
29531           0           0           1           0         1
29532           0           0           1           0         1
29533           0           0           1           1         0
29534           0           0           1           0         1
29535           0           0           1           1         0

[29536 rows x 13 columns]